body {
  margin: 0;
  font-family:"HarryPotterFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:"HarryPotterFont";
  src: url("./MagicSchoolOne-ovYz.ttf") format("truetype");
}
